.main {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 10px;

  .users {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    column-gap: 15px;
    row-gap: 15px;
  }
}
