@import '../../assets/scss/variables';

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 100vh;
}

.sidebar {
  background-color: #fefefe;
  min-height: 100%;
  width: 260px;
}

main {
  flex: 1;
}

@media (max-width: $width-tablet) {
  .sidebar {
    height: 100%;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    opacity: 0;
    transition: 500ms;
    z-index: 99;
  }

  .sidebar.active {
    position: fixed;
    visibility: visible;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 500ms;
    z-index: 99;
  }
}
