.container {
  background-color: #e2e2e2;
  display: flex;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.boxTask {
  margin: 10px;
  padding: 10px;
  text-align: center;
  .boxContainer {
    height: 100%;
    min-width: 225px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto;
  }

  .boxContainer::-webkit-scrollbar {
    display: none;
  }
}

.border {
  border: 1px solid #c2c2c2;
  height: 18em;
  align-self: center;
}
